@import "../config";

.player_list_container {
    @extend %center_flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    font-family: "Open Sans", "sans-serif";

    input {
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        background: rgb(219, 219, 219);
        font-size: 1.2rem;
        height: 1.5em;
        outline: none;
        padding: 0.5rem;
        transition: all 0.2s ease-in;
        width: 200px;

        &:focus {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            background: rgb(219, 219, 219);
            border-bottom: none;
        }
        &:focus + button.search_button {
            transform: translateX(0);
            opacity: 1;
        }
    }

    button {
        height: 1.8rem;
        width: 1.8rem;
        background: none;
        border: solid 1px gray;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transform: translateX(10px);
        transition: all 0.2s ease-in;
        opacity: 0;
        cursor: pointer;
    }

    .player_list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        height: 90%;
        width: 100%;
        cursor: pointer;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            list-style-type: none;
            height: 50px;
            width: 90%;
            border-bottom: solid 1px black;

            li {
                @extend %center_flex;
                width: 11.5%;
                height: 100%;
                text-decoration: none;
                font-size: 0.8rem;
                font-weight: 700;

                img {
                    height: 90%;
                    width: auto;
                }
          

                span {
                    font-weight: 700;
                    font-size: 0.8rem;
                }
            }
        }

        .listed_player {
            display: flex;
            align-items: center;

            height: 70px;
            width: 90%;
            border-bottom: none;

            &:hover {
                background: rgb(224, 224, 224);
            }

            li {
                font-weight: 400;
            }
        }

        .empty_list {
            height: 300px;
            width: 300px;
        }
    }
}
